.root {
    -fx-background-image: url('arena.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
 
.scene {
    -fx-background-color: transparent;
}

.styled-button {
    -fx-font-weight: bold;
    -fx-background-color: #a8be9a;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.styled-button:hover {
    -fx-background-color: #7a8b70;
}

.styled-text-field {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 10;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 10;
    -fx-padding: 8px;
}

